body {
    cursor: default;
    font-family: sans-serif;
}

td {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    text-align: center;
}

tr.oddtrue {
	background-color: lightgrey;
}

/* Results table */

table#results {
	empty-cells:show;
	/*border-collapse:separate;
	border:1px solid black;*/
	border-spacing:0;
}

table#results * td {
	/*border: 1px solid black;*/
}

tr.headings {
}

td.test-title {
	border:0;
	background-color:#bcd;
	text-align:center;
}

td.test-title.blank {
	border:0;
}

td.metric-title {
	border:0;
	background-color:#abc;
	text-align:center;
}

td.total {
    background-color: #eee
}

tr.config-row {
}

td.config-name {
	background-color:#a8a8a8;
        color: white;
	text-align:center;
	text-transform:capitalize;
}

td.state-1, td.regression {
	color: red;
}

td.state1, td.progression {
	color: green;
}

tr.result-row:hover {
    background-color: lightgrey;
    opacity: 1;
}

tr.result-row {
    opacity: 0.6;
}

td.tag-name {
	background-color:#868686;
}

/* Alert box */


